<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>	
		<add key="nodeLocation" value="C:\devlab\teststudio\welnessBase\WellnessBase\CollectionApp.Web\CollectionApp.Web\app" />
		<add key="x1nodeLocation" value="C:\devlab\teststudio\AugNodeUpdate\CollectionApp.Web\CollectionApp.Web\app" />
		<add key="destPath" value="C:\devlab\teststudio\tempDest" />
	</appSettings>
</configuration>